.about{
    color: rgb(25, 25, 26);
    text-align: center;
    display: flex;
    padding: 50px;
}
.images{
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    flex-direction: column;
}
img{
    border-radius: 50%;
}
