ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;

  }
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 15px;
    color: red;
    position:relative;
    width: 30px;
    height: 30px;
    text-decoration: none;
    
  }

